# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# Typescript
tsconfig.tsbuildinfo

# misc
.DS_Store
*.pem
junk

# drawio
*.bkp
*.dtmp

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*
!.env.template

# Shell history - produced by this project's Shell class
*.history

# Sample tool output
data
